*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.kotlin/
app/build/
**/xcuserdata/
*.log
.vscode/
models/
*.task
*.bin
*.tflite
!gradle/wrapper/gradle-wrapper.properties
